<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <!-- <app-feat-comp1></app-feat-comp1> -->
  <div>
    <button routerLink="/feat1comp">Feature1</button>
  </div>
  <div>
    <button routerLink="/feat2comp">Feature2</button>
  </div>
  <div>
    <button routerLink="/feat2comp/special">Special feature</button>
  </div>
  <div>
    <button routerLink="">Home</button>
  </div>

<router-outlet></router-outlet>
